<h2>USUARIOS APP COLABORADOR</h2>
<div>
    <label for="sociedad">Sociedad:
        <select name="" id="sociedad">
            <option value="">DANPER TRUJILLO</option>
            <option value="">DANPER VIRU</option>
        </select>
    </label>
    <br><br>
    <label for="division">Division:
        <select name="" id="division">
            <option value="">PLANTA TRUJILLO</option>
            <option value="">PLANTA VIRU</option>
        </select>
    </label>
    <br><br>
    <label for="nombre">Nombre:
        <input id="nombre" type="text">
    </label>
    <br><br>
    <button>Subir</button>
    <br><br>
    <button>Dar de alta</button>
    <br><br>
    <button>Buscar</button>
    <hr>
</div>